# Build
target
*.war
*.jar
*.ear
*.class

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings
.metadata

# Mule
.studio/
flows/
target/
**/*.mflow
*.log

# Temporary
*~

# Mac OS
.DS_Store
